<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
     <!--enable asp.Net core layout renders-->
  <!--if its a newly added file, then go to prop,copy if newer should be selected -->
  <extensions>
    <add assembly="Nlog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="logfile" xsi:type="File" fileName="nlog-${shortdate}.log"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile"/>
  </rules>
</nlog>